
#mainWrapper {
    position: absolute;
    top: 27px;
    left: 0px;
    z-index:1;
}

#bitSideBar {
    position: fixed;
    top: 27px;
    left: 0px;
    z-index:9999;
    -background-color:red;
    background: url(../images/BPCMS_sidebar.png) repeat-y;
    width: 50px;
    height: 100%;
    box-shadow: inset -4px 0 10px rgba(0, 0, 0, 0.4);


}


#bitSideBar * {
	margin:0;
	padding:0;
    color: white;
}

#divWrapperMainMenu * {
    margin:0;

    /* color: #000 !important; */
}