<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLCommandTimeOut" value="-1"/> <!-- 0 = geen timeout, -1 = default timeout-->
    <!--PageInspector is mogelijk het session probleem-->
    <!--<add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />-->
    <add key="SiteID_E" value="0e1a0499-b007-47e7-9dae-074c45751b08" />
    <add key="SiteIDn_S" value="af6caf50-b7b1-44ac-95e3-3adae48f08c8" />
    <add key="SiteID_HJ" value="d8e132ad-15be-4e17-b22b-e95e43871b8a" />
    <!-- intercultural: 43bf848e-fdfe-4cae-9f3c-f0a1dc1a333d-->
    <!-- terrasana: 0c9ab617-aed6-4d6a-a046-ee984b414c12 -->
    <!-- autoCool:044e3248-ef80-4aec-94f4-e22d0a5c4486-->
    <!--Wanneer SiteId wordt leeggelaten is er 1 bitplate installatie met meerdere sites. -->
    <add key="SiteID" value="044e3248-ef80-4aec-94f4-e22d0a5c4486" />
    <!-- abcnet 1f331e9e-ac98-4ea4-8b75-0122c4206791 -->
    <!-- om geen inlog scherm te krijgen: onderstaande regel. Wil je wel een inlog scherm: wijzig de code, of deze haal regel weg.-->
    <add key="DevelopMode" value="qweutyrqwe81238761238917263876123128376123-" />
    <!--http://localhost:52238-->
    <add key="LicenseHost" value="http://localhost:52239/" />
    
    <add key="BundleScripts" value="false" />
    <add key="UseSQLLogging" value="false" />
    <add key="jQueryVersion" value="jquery-1.8.2.js" />
    <!--<add key="ExceptionSupportEmailAddress" value="e.van.toor@twist.nl"/>-->
    <!--<add key="aspnet:MaxHttpCollectionKeys" value="10000" />-->
    <add key="ErrorLogPath" value="c:\\temp\\logs\\" />
  </appSettings>
  <connectionStrings>
    <!-- E <add name="cmsdb" connectionString="Data Source=twistmulti;Database=bitplate20;user id=Bitplate;password=Bit123;" providerName="MySql"/>-->
    <!-- HJ <add name="cmsdb" connectionString="Data Source=localhost;Database=bitplate20;user id=Bitplate;password=Bit123;" providerName="MySql"/>-->
    <!-- S <add name="cmsdb" connectionString="Data Source=sbs2008;Database=bitplate20;user id=Bitplate;password=Bit123;" providerName="MySql"/>-->
    <add name="cmsdb" connectionString="Data Source=localhost;Database=bitplate20_autocool;user id=root;password=mysql;" providerName="MySql" />
    <!--<add name="cmsdb" connectionString="Data Source=garfield.bitnetmedia.nl;Database=abcnet;user id=abcnet;password=abcnet580;" providerName="MySql"/>-->
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="999999" />
    <sessionState timeout="600" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Static" enableViewState="false">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="BitSite._bitPlate" />
        <add namespace="BitPlate.Domain.Utils" />
      </namespaces>
    </pages>
    <compilation targetFramework="4.0" debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="*" path="elfinder.connector" type="elFinder.Connector.Connector, elFinder.Connector" />
      <add verb="*" path="captcha.handler" type="BitSite._bitPlate.CaptchaImageHandler" />
      <add verb="*" path="script.handler" type="BitSite._bitPlate.ScriptHandler" />
      <add verb="*" path="downloadbackup.handler" type="BitSite._bitPlate.BackupDownloadHandler" />
    </httpHandlers>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="info@bitplate.local">
        <network host="localhost" password="123#Admin()" userName="info@bitplate.local" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!--Dit kan nodig zijn om bitbundler niet een 404 terug te laten geven-->
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ElFinderConnector" verb="*" path="*.connector" type="ElFinder.Connector.Connector" />
      <add name="BitSiteCaptchaImage" verb="*" path="captcha.handler" type="BitSite._bitPlate.CaptchaImageHandler" />
      <add name="BitSiteScript" verb="*" path="script.handler" type="BitSite._bitPlate.ScriptHandler" />
      <add name="BitBackupDownload" verb="*" path="downloadbackup.handler" type="BitSite._bitPlate.BackupDownloadHandler" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BitSite._bitPlate.Newsletters.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILicService" />
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBackupService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52239/Services/LicService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicService"
        contract="LicServiceReference.ILicService" name="BasicHttpBinding_ILicService" />
      <endpoint address="http://localhost:52239/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:8000/bitnetmedia/bitplate/backup"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBackupService"
        contract="BitplateBackupServiceReference.IBackupService" name="WSHttpBinding_IBackupService">
        <identity>
          <userPrincipalName value="e.vantoor@twist.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>