<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\!Ontwikkel\!Bitplate2.0\Source\bitplate2.0\Sites\BitLicensePublish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="Autorisation.svc">
      <publishTime>08/13/2012 13:02:09</publishTime>
    </File>
    <File Include="bin/BitAutorisation.dll">
      <publishTime>11/14/2012 13:24:11</publishTime>
    </File>
    <File Include="bin/bitDomain2.0.dll">
      <publishTime>11/14/2012 13:24:10</publishTime>
    </File>
    <File Include="bin/bitORM.dll">
      <publishTime>11/14/2012 13:16:40</publishTime>
    </File>
    <File Include="bin/HtmlAgilityPack.dll">
      <publishTime>09/11/2012 08:07:39</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>08/13/2012 13:03:48</publishTime>
    </File>
    <File Include="bin/MySql.Data.dll">
      <publishTime>08/13/2012 13:04:25</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>08/13/2012 13:03:43</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>09/25/2012 12:11:58</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>08/13/2012 13:02:09</publishTime>
    </File>
    <File Include="InsertTempData.aspx">
      <publishTime>08/13/2012 13:02:09</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>11/14/2012 13:16:42</publishTime>
    </File>
    <File Include="_img/ResellerLogos/abcnet.png">
      <publishTime>10/29/2012 14:20:25</publishTime>
    </File>
    <File Include="_img/ResellerLogos/bitnetmedia.png">
      <publishTime>10/29/2012 14:21:54</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitnewsletterCorporate.lic">
      <publishTime>09/19/2012 15:07:57</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitnewsletterCustom.lic">
      <publishTime>09/19/2012 15:07:57</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitnewsletterLite.lic">
      <publishTime>09/19/2012 15:07:57</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitplateCorporate.lic">
      <publishTime>09/19/2012 15:02:17</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitplateCustom.lic">
      <publishTime>09/19/2012 15:02:17</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitplateEnterprise.lic">
      <publishTime>09/19/2012 15:02:17</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitplateLite.lic">
      <publishTime>09/19/2012 15:07:01</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitplateStandard.lic">
      <publishTime>09/19/2012 15:07:01</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/BitshopLite.lic">
      <publishTime>09/19/2012 15:09:09</publishTime>
    </File>
    <File Include="_licenseTypeDefaults/defaultTemplate.lic">
      <publishTime>11/14/2012 12:59:43</publishTime>
    </File>
  </ItemGroup>
</Project>