<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SiteID" value="41676a0c-dfeb-4ae1-8de9-4e88c3735446"/>
    <add key="SiteEnvironmentID" value="00000000-0000-0000-0000-000000000000"/>
    <add key="LicenseHost" value="http://localhost:52239"/>
    <add key="BitplateHost" value="http://localhost:91"/>
    <add key="BundleScripts" value="false"/>
    <add key="UseSQLLogging" value="false"/>
    <add key="jQueryVersion" value="jquery-1.8.2.js"/>
  </appSettings>
  <connectionStrings>
    <add name="cmsdb" connectionString="Data Source=localhost;Database=test24;user id=test24User;password=bit123;" providerName="MySql"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="999999" />
    <sessionState timeout="600"/>
    <httpHandlers>
      <add verb="*" path="elfinder.connector" type="elFinder.Connector.Connector, elFinder.Connector"/>
    </httpHandlers>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="test24@bitplate.local">
        <network host="localhost" userName="admin" password="admin1234"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Voor iis7 moet runAllManagedModulesForAllRequests="true" aan staan -->
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ElFinderConnector" verb="*" path="*.connector" type="ElFinder.Connector.Connector" />
    </handlers>
  </system.webServer>

</configuration>