<%@ Master Language="C#" MasterPageFile="~/_bitPlate/_MasterPages/Master.Master" AutoEventWireup="true"
    CodeBehind="Dashboard.master.cs" Inherits="BitSite._bitPlate._MasterPages.Dashboard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadPlaceHolder" runat="server">
    <%= BitSite._bitPlate.BitBundler.ResolveBundleUrl("~/_bitplate/_themes/" + BitSite.SessionObject.CurrentBitplateUser.Theme + "/css/dashboard") %>
    <script src="/_bitplate/_js/bitLeftSlideMenu.js" type="text/javascript"></script>
    <script src="/_bitplate/_js/BITDASHBOARD.js" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
    
    <!-- slide left menu -->
    <asp:ContentPlaceHolder ID="SlideMenuPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
    
    <!-- main area boxes -->
    <div id="divWrapperBoxes">
        <asp:ContentPlaceHolder ID="MainContentPlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    
    <!-- footer -->
    <div id="divWrapperMain">
        <div id="bitFooter">U heeft bitplate licentie: <asp:Label ID="LabelLicense" runat="server" Text=""></asp:Label><!-- | Laatste backup: --><asp:Label ID="LabelLastBackup" runat="server" Visible="false" Text=""></asp:Label>
        </div>
    </div>
    <div id="bitFooterMenu">
        <div id="divFooterWrapper">
            <div id="bitFooterMenuItems">
                <asp:ContentPlaceHolder ID="FooterContentPlaceHolder" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div id="bitVersion"><asp:Label ID="LabelVersion" runat="server" Text=""></asp:Label></div>
        </div>
    </div>
</asp:Content>
